<div id="why"></div>
  <div class="pre-wrapper">
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h2><i class="fa fa-book pre-icon" aria-hidden="true"></i></h2>
      <h2>Share</h2>
      <p>Share, sell and exchange your books with people in the area where you live.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h2><i class="fa fa-globe pre-icon" aria-hidden="true"></i></h2>
      <h2>Discover</h2>
      <p>Look for the books that are in your area. Then you will only need to contact the owner to get the book.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h2><i class="fa fa-coffee pre-icon" aria-hidden="true"></i></h2>
      <h2>Meet</h2>
      <p>Get to know the city and the people around you in a different way. Meet new people, grab a coffe and exchange some books while having a conversation about your favourite authors.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h2><i class="fa fa-bicycle pre-icon" aria-hidden="true"></i></h2>
      <h2>Be Local</h2>
      <p>Remember how nice it was to walk into that old book store and talk to the owner? Let's keep the good stuff alive and support your local economy!</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h2><i class="fa fa-tree pre-icon" aria-hidden="true"></i></h2>
      <h2>Be Green</h2>
      <p>Ever thought about the carbon footprint of shipping a book from the other end of the world? We love paper, but the more books we share, the less trees that will die!</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h2><i class="fa fa-users pre-icon" aria-hidden="true"></i></h2>
      <h2>Be Social</h2>
      <p>Save time for things that matter. Find a good book quickly, take your bike and go and meet someone who loves that author as much as you do.</p>
  </div>
</div>
