<div class="container col-sm-offset-2 col-sm-8">
  <p>MyBooksAround was born as a project from the Bootcamp in Web Development Le Wagon, in Brussels (Belgium). The initial team, formed by Samuel Horn, Jasper Hendrickx, Greggory Griffin and me, worked on the prototype for three weeks in order to present it to the public for the first time on the 16th of December 2016. After, I continued the project on my own and, as a good super-lean-one-man-startup, I believe in the continuous development of goods and pleasures, so expect new features and improvements every Monday morning, Norwegian time. Also, please feel free to contact me with any feedback, critics, ideas of things that can be improved, etc. I'll be happy to hear from you.</p>
  <p>Happy reading!</p>
  <p>Samuel Rodríguez</p>
</div>
