<%= content_for(:title) do %>
  Bookaround | About
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <h2 class="text-center header-form">About us</h1>
      <p>Bookaround was born as a project from the Bootcamp in Web Development at Le Wagon, in Brussels (Belgium). The initial team was formed by <a href="https://github.com/shmoulhorn" target="_blank">Samuel Horn</a>, <a href="https://github.com/Mystic77" target="_blank">Jasper Hendrickx</a>, <a href="https://github.com/M-Gryphon" target="_blank">Gregory Griffin</a> and <a href="http://www.samuelrodriguez.me/" target="_blank">me</a>, and we worked on the prototype for three weeks in order to present it to the public for the first time on the 16th of December 2016. After that, I continued the project on my own.</p>
      <p>Even though this is a super-lean-one-man-startup, I believe in the continuous development of happiness, so expect new features, fixes and improvements every Monday.</p>
      <p>Please also feel free to <a href="mailto:samuelyret@gmail.com">contact me</a> with any feedback, critics, ideas of things that can be improved, etc. I'll be happy to hear from you.</p>
      <p>Happy reading!</p>
      <p>Samuel Rodríguez</p>
      <br />
      <figure>
        <img src=<%= image_path "bookaround_team.jpg" %> alt="Bookaround team" class="img-responsive">
        <figcaption>From left to right, Gregory Griffin, Samuel Rodríguez, Jasper Hendrickx and Samuel Horn.</figcaption>
      </figure>
    </div>
  </div>
</div>

