<%= content_for(:title) do %>
  Bookaround | Find books locally
<% end %>

<%= render 'shared/banner' %>

<div class="container">

<!-- first card of books -->
<%= render "static_page_book_card" %>

<!-- presentation of app -->
<%#= render "presentation" %>


<!-- then Map of users -->
  <hr>
  <p class="title">See the closest users</p>
  <div id="map" style="width: 100%; height: 385px;"></div>

  <% content_for(:after_js) do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');

        var mapOptions = {
          center: new google.maps.LatLng(50.85045, 4.34878),
          zoom: 11,
          scrollwheel: false,
          styles: [{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]},{"featureType":"road.highway","elementType":"all","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","elementType":"all","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]}]
        };
        handler.buildMap({ provider: mapOptions, internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
            // handler.bounds.extendWith(markers);
            // handler.fitMapToBounds();
            // if (markers.length == 0) {
            //   handler.getMap().setZoom(2);
            // } else if (markers.length == 1) {
            //   handler.getMap().setZoom(14);
            // }
          });
      });
    </script>
  <% end %>


</div>










