/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,700");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #00BAC9;

$red: #F66D52;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
