/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.pre-wrapper {
  // background: $bookaround-primary;
  // display: flex;
  // padding: 0px 10px;
  // align-items: center;
  overflow:auto;
  text-align:center;
  p {
    text-align: left;
  }
}
.pre-icon {
  color: $bookaround-primary;
  font-size: 50px;
}
