<div class="banner" style="background-image: linear-gradient(-225deg, rgba(110,110,110,0.6) 0%, rgba(98,98,98,0.6) 50%), url(<%=  image_path "bookaround_background.jpg" %>);">
  <div class="banner-content">
    <h1>Bookaround</h1>
    <p>Find books locally</p>
    <div class="number of users">
      <p> There are <%=  count_users_in_area(brussels_coordinates) %> users in your area </p>
    </div>
    <a href="#map" class="btn btn-primary btn-lg" />Find them</a>
  </div>
</div>



