<!-- <div class="banner" style="background-image: url(<%=  image_path "main_image.jpg" %>);">
 --><div class="banner">
  <div class="banner-content">
    <p>Find, sell and exchange the books you love right next to you.</p>
    <div class="number of users">
      <!-- <p id="banner-bottom">Find out how it works</p> -->
       <%#=  count_users_in_area(brussels_coordinates) %>
    </div>
  </div>
</div>



