<div class="banner" style="background-image: linear-gradient(-225deg, rgba(110,110,110,0.6) 0%, rgba(98,98,98,0.6) 50%), url(<%=  image_path "bookaround_background_2.jpg" %>);">
  <div class="banner-content">
    <h1>Bookaround</h1>
    <p>Find books locally</p>
    <div class="number of users">
      <p id="banner-bottom">Find out how it works</p>
       <%#=  count_users_in_area(brussels_coordinates) %>
    </div>
    <a href="#why" class="" />
      <i class="fa fa-angle-down icon-move" aria-hidden="true"></i>
    </a>
  </div>
</div>



