<footer class="footer container">
  <div class="footer-container footer-right">
    <a href="./static_pages/about">
      <div class="footer-item">About us</div>
    </a>
    <div class="footer-item">Contact</div>
    <div class="footer-item">Terms &amp Privacy</div>
    <div class="footer-item">
      <a href="https://www.facebook.com/bookaroundyou/?ref=bookmarks" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://twitter.com/bookaroundyou" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>
