<footer class="footer container">

  <!-- Desktop footer -->
    <div class="footer-container footer-right hidden-xs hidden-sm">
     <%= link_to 'About', about_path %>
    <!-- <a href="./static_pages/about">
      <div class="footer-item">About us</div>
    </a> -->
    <a href="mailto:samuelyret@gmail.com">
      <div class="footer-item">Contact</div>
    </a>
    <!-- <div class="footer-item">Terms &amp Privacy</div> -->
    <div class="footer-item">
      <a href="https://www.facebook.com/bookaroundyou/?ref=bookmarks" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://twitter.com/bookaroundyou" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>


  <!-- Mobile footer -->
    <div class="footer-container footer-right hidden-md hidden-lg">
     <%= link_to 'About', about_path %>
    <a href="mailto:samuelyret@gmail.com">
      <i class="fa fa-envelope"></i>
    </a>
    <!-- <div class="footer-item">Terms &amp Privacy</div> -->
      <a href="https://www.facebook.com/bookaroundyou/?ref=bookmarks" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/bookaroundyou" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
  </div>
</footer>
