.banner {
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 40px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
}
#banner-bottom {
  font-size: 16px;
  margin-top: 180px;
}
