.cont-formo {
  display: flex;
  justify-content: center;
  text-align: center
}
.formo {
  flex: 0 0 300px;
  margin-top: 20px;
  color: black;
  // box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  // border-radius: 1px;
  padding: 20px;
  text-align: center;
}

.btn-formo {
  text-align: center;
  width: 100%;
  margin-bottom: 13px;
}

.placeholder-formo {
  color: #999;
  opacity: 1;
}

.btn-center {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.header-form {
  margin-top: 0px;
  margin-bottom: 5px;
}


hr {
  width:20%;
  height:1px;
  background: #fff;
  margin-bottom: 8px;
  margin-top: 40px;
}
