.cont-formo {
  display: flex;
  justify-content: center;
  text-align: center
}
.formo {
  flex: 0 0 300px;
  margin-top: 20px;
  color: black;
  // box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  // border-radius: 1px;
  padding: 20px;
  text-align: center;
}

.btn-formo {
  text-align: center;
  width: 100%;
}

.placeholder-formo {
  color: #999;
  opacity: 1;
}
