.card {
  height: 200px;
  color: black;
  position: relative;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #00BAC9;
}
.card-user {
  position: absolute;
  right: 10px;
  bottom: 1px;
}
.card-cover {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-description h2 {
  font-size: 24px;
  text-align: left;
}
.card-description p {
  font-size: 13px;
  text-align: left;
  }
.card-link {
  text-decoration: none;
  color: #313131;
}
.card-link:hover{
  text-decoration: none;
  color: #313131;
}
