.card {
  height: 200px;
  color: black;
  background-color: #FFFFFF;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  border-radius: 1px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.card-user {
  position: absolute;
  right: 31px;
  bottom: 14px;
}
.card-cover {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  padding-top: 10px;
  // position: absolute;
  // top: 10px;
  // right: 10px;
}
.card-description h2 {
  font-size: 18px;
  text-align: left;
}
.card-description p {
  font-size: 13px;
  text-align: left;
}
.card-description a {
  text-align: right;
  padding-top: 10px;
}
.card-link {
  text-decoration: none;
  color: #313131;
}
.card-link:hover{
  text-decoration: none;
  color: #313131;
}
.card-link.user {
  display: block;
  text-align: center;
  width: 100px;
  height: 70px;
}
.token-card {
  position: relative;
  margin: 10px;
  border-radius: 1px;
}
.token-avatar {
  position: absolute;
  left: 0px;
  top: 0px;
}
.token-name {
  position: absolute;
  text-align: left;
  left: 0px;
  bottom: 0px;
}

