.card {
  height: 200px;
  color: black;
  background-color: rgba(0, 0, 0, 0.09);
  position: relative;
  /* box-shadow: 0 0 10px 0 rgba(0,0,0,.10); */
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 15px;
  h2 {
    font-size: 15px !important;
  }
}

.card-book-summary {
  color: black;
  background-color: rgba(0, 0, 0, 0.09);
  position: relative;
  /* box-shadow: 0 0 10px 0 rgba(0,0,0,.10); */
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 9px;
  h2 {
    font-size: 18px !important;
  }
}
.card-book-summary-without-top-margin{
  color: black;
  background-color: rgba(0, 0, 0, 0.09);
  position: relative;
  /* box-shadow: 0 0 10px 0 rgba(0,0,0,.10); */
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 9px;
  h2 {
    font-size: 18px !important;
  }
}
/* .card:hover {
  box-shadow: 0 0 5px 0 rgba(255,255,255,.8);
  opacity: 1;
} */

.card-user {
  position: absolute;
  right: 35px;
  bottom: 10px;
}

// .card-user-star {
//   position: absolute;
//   right: 80px;
//   bottom: 14px;
// }
.card-cover {
  height: 50%;
  object-fit: cover;
}
.card-cover img {
  max-height: 170px;
  // width: auto;
  padding-top: 25px;
  // padding-bottom: 0px;
}

.card-category {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  padding-top: 10px;
  // position: absolute;
  // top: 10px;
  // right: 10px;
}
.card-description p {
  font-size: 13px;
  text-align: left;
}

.card-description a {
  text-align: right;
  padding-top: 10px;
}
.card-link {
  text-decoration: none;
  color: #313131;
}
.card-link:hover{
  text-decoration: none;
  color: #313131;
}
.card-link.user {
  display: block;
  text-align: center;
  width: 100px;
  height: 70px;
}
.token-card {
  position: relative;
  margin: 10px;
  border-radius: 1px;
}
.token-avatar {
  position: absolute;
  left: 0px;
  top: 0px;
}
.token-name {
  position: absolute;
  text-align: left;
  left: 0px;
  bottom: 0px;
}


