// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "layout/banner";
@import "components/card";
@import "layout/form";
@import "layout/messages";


.container {
  margin-top: 25px;
  padding-bottom: 25px;
}

.bookaround-primary {
  color: $bookaround-primary;
  font-size: 20px;
}

a {
  color: #5BA3BB;
  text-decoration: none;
}

a:hover {
  color: #5BA3BB;
  text-decoration: none;
  opacity: 0.9;
}


